#title {
    background-image: url("../images/grey_@2X.png")
}
#txt-title {
    color: black;
    font-family: 'Cuprum', sans-serif;
}
#txt-subtitle {
    color: grey;
    font-family: 'Cuprum', sans-serif;
}